<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, soluta error? Neque voluptates temporibus inventore tempore consectetur, architecto sunt repellat adipisci ad. Nostrum et adipisci qui accusamus aliquid illo, tempora
                            doloremque maiores ex. Consectetur aliquam officia reprehenderit rerum quos perferendis animi omnis at praesentium corrupti a eveniet dolorem, reiciendis iusto.</p>
                        <span class="badge badge-secondary">Lorem</span>
                        <span class="badge badge-secondary">Ipsum</span>
                        <span class="badge badge-secondary">Dolor</span>
                        <span class="badge badge-secondary">Sit</span>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Cliquez-moi!
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Un super Titre</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                    </div>
                                    <div class="modal-body">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita omnis voluptatibus delectus odit porro soluta est, minima eum sunt. Iusto?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="alert alert-warning" role="alert">
                            Un message d'avertissement avec un <a href="#" class="alert-link">lien</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify">
                        <div class="card youpi shadow-lg">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">a</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">b</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">c</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">d</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">e</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">f</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">g</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">h</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">i</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">j</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">k</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">l</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">m</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">n</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">o</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">p</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">q</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">r</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">s</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">t</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">u</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">v</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">x</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">y</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">z</button>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Mois</th>
                                    <th scope="col">Nombre de vente</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Jan</th>
                                    <td>105</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fev</th>
                                    <td>95</td>
                                    <td>12,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mar</th>
                                    <td>150</td>
                                    <td>20,000.0€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Avr</th>
                                    <td>50</td>
                                    <td>30,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mai</th>
                                    <td>80</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jui</th>
                                    <td>110</td>
                                    <td>22,000.00€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Mois</th>
                                    <th scope="col">Nombre de vente</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Jan</th>
                                    <td>105</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fev</th>
                                    <td>95</td>
                                    <td>12,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mar</th>
                                    <td>150</td>
                                    <td>20,000.0€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Avr</th>
                                    <td>50</td>
                                    <td>30,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mai</th>
                                    <td>80</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jui</th>
                                    <td>110</td>
                                    <td>22,000.00€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Mois</th>
                                    <th scope="col">Nombre de vente</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Jan</th>
                                    <td>105</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fev</th>
                                    <td>95</td>
                                    <td>12,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mar</th>
                                    <td>150</td>
                                    <td>20,000.0€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Avr</th>
                                    <td>50</td>
                                    <td>30,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mai</th>
                                    <td>80</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jui</th>
                                    <td>110</td>
                                    <td>22,000.00€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Mois</th>
                                    <th scope="col">Nombre de vente</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Jan</th>
                                    <td>105</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fev</th>
                                    <td>95</td>
                                    <td>12,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mar</th>
                                    <td>150</td>
                                    <td>20,000.0€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Avr</th>
                                    <td>50</td>
                                    <td>30,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mai</th>
                                    <td>80</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jui</th>
                                    <td>110</td>
                                    <td>22,000.00€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Mois</th>
                                    <th scope="col">Nombre de vente</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Jan</th>
                                    <td>105</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fev</th>
                                    <td>95</td>
                                    <td>12,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mar</th>
                                    <td>150</td>
                                    <td>20,000.0€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Avr</th>
                                    <td>50</td>
                                    <td>30,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mai</th>
                                    <td>80</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jui</th>
                                    <td>110</td>
                                    <td>22,000.00€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Mois</th>
                                    <th scope="col">Nombre de vente</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Jan</th>
                                    <td>105</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fev</th>
                                    <td>95</td>
                                    <td>12,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mar</th>
                                    <td>150</td>
                                    <td>20,000.0€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Avr</th>
                                    <td>50</td>
                                    <td>30,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mai</th>
                                    <td>80</td>
                                    <td>15,000.00€</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jui</th>
                                    <td>110</td>
                                    <td>22,000.00€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card rounded-0">
                    <div class="card-body">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>