.customNav {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    width: 100%;
}

.customForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customForm>* {
    margin: 5px;
}

form {
    margin-block-end: 0;
}

th {
    text-transform: capitalize;
}

.form-group {
    text-align: center;
}

label {
    text-transform: capitalize;
}

.table {
    margin: 0;
}