a {
    color: blue;
    background: #90BADE;
    padding: 5px 10px 1px;
    margin: 0;
}

#menu ul {
    list-style-type: none;
    border-bottom: solid 1px blue;
    /* padding-bottom: 1px; */
    margin: 0;
}

li {
    display: inline-block;
    /* margin: 0; */
    /* border-bottom: solid 1px blue; */
    /* padding-bottom: 1px; */
}

#here {
    background: #2586D7;
    border-bottom: solid 1px #2586D7;
    padding: 5px 10px 1px;
    margin: 0 1px;
}

a:hover {
    color: white;
    background: no-repeat url("../images/fond.gif");
}

a:hover span.lien {
    background: no-repeat url("../images/fond2.gif");
    padding: 5px 10px 0 0;
    margin: -5px -10px 0 0;
    background-position: top right;
}