body {
    margin: 0;
    padding: 0;
}

.header {
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-align: center;
}

.header img {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
}

.navbar {
    position: sticky;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: #223d50f6;
}

.navbar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    list-style: none;
}

.navbar ul li {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    overflow: hidden;
}

.navbar ul li img {
    height: auto;
    width: 4rem;
    transition: 2s;
}


/* .sticky {
    position: fixed;
    top: 0;
    left: 0;
} */

.navbar ul li.inactive {
    flex: 0 0 0%;
}

.navbar ul li.inactive img {
    width: 0rem;
}

.mainContent {
    margin: auto;
    width: 70%;
    transition: width 1s;
    transition: font-size 1s;
    text-align: center;
}

.mainContent.enlarge {
    margin-top: 1rem;
    width: 80%;
    padding: 2rem;
    font-size: 1.2em;
}