.blueasy-bg-dark {
    background-color: #353f46d8;
}

.blueasy-bg-grey {
    background-color: #515f67;
}

.blueasy-bg-blue {
    background-color: #4bcaff;
}

.blueasy-text-grey {
    color: #515f67;
}

.blueasy-text-blue {
    color: #4bcaff;
}

.np {
    padding: 0;
}

.nm {
    margin: 0;
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.background-filter-blue {
    height: 100vh;
    width: 100%;
    background-color: #4bcaff10;
    position: absolute;
}

.background-filter-dark {
    height: 100%;
    width: 100%;
    background-color: #353f46AA;
    position: absolute;
    top: 0;
}

.margin-left-negative {
    margin-left: -15px;
}

.margin-right-negative {
    margin-right: -15px;
}


/**/

.navbar {
    height: 16vh;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: 700;
}

.nav-item {
    margin: auto 5px;
}

.nav-link {
    padding: 6px 16px !important;
    font-size: 0.9em;
    font-weight: 700;
}

.active {
    border: 2px solid #4bcaff !important;
}

.active {
    color: #4bcaff !important;
}

.active a {
    color: #4bcaff !important;
}


/**/

.hero {
    height: 100vh;
    position: relative;
}

.hero-background {
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-image: url("../img/hero-background.png");
    filter: grayscale(1);
    position: absolute;
}

.hero-content {
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-weight: 100;
    padding: 8px 20px;
}


/**/

.section-title {
    font-weight: 100;
}

.section {
    padding: 75px 0px;
}

.underline-white {
    width: 50px;
    border: 1px solid white;
    margin-top: -5px;
}

.underline-dark {
    width: 50px;
    border: 1px solid #515f67;
    margin-top: -5px;
}


/*
*
* SERVICES
*
*/

.card {
    background: transparent;
    border: none;
}

.card-title {
    font-size: 1.6em;
}

.card-text {
    font-size: 0.7em;
}

.card img {
    height: 50px;
    width: fit-content;
    margin-bottom: 10px;
}


/*
*
* PORTFOLIO
*
*/

.portfolio-links a {
    margin-left: 50px;
    margin-right: -30px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
    height: 270px;
    width: 270px;
    background-position: center center;
    opacity: 75%;
}

.portfolio-item:hover .item-expand {
    opacity: 100%;
    transition: 1s;
    box-shadow: 0 0 1000px 1000px #353f47DD, inset 0 0 1000px 1000px #353f47DD;
}

.item-expand {
    opacity: 0%;
}

#photo-1 {
    background-image: url("../img/photo-1.png");
}

#photo-2 {
    background-image: url("../img/photo-2.png");
}

#photo-3 {
    background-image: url("../img/photo-3.png");
}

#photo-4 {
    background-image: url("../img/photo-4.png");
}

#photo-5 {
    background-image: url("../img/photo-5.png");
}

#photo-6 {
    background-image: url("../img/photo-6.png");
}

#photo-7 {
    background-image: url("../img/photo-7.png");
}

#photo-8 {
    background-image: url("../img/photo-8.png");
}


/*
*
* VIDEO
*
*/

.video-text {
    padding-right: 80px;
    font-size: 0.9em;
}

.visit-me {
    padding: 8px 35px;
    border: 2px solid #353f46;
    color: #353f46;
    font-weight: 700;
    font-size: 0.9em;
}


/*
*
* TWITTER
*
*/

.twitter-text {
    font-size: 1.8em;
    font-weight: 100;
}


/*
*
* ABOUT
*
*/

.about {
    position: relative;
}

.about-background {
    background-image: url("../img/about-background.png");
    z-index: -1;
    height: calc(100% + 75px);
    width: 100%;
    filter: grayscale(1);
    position: absolute;
    top: 0;
}

.about-text {
    font-size: 0.9em;
    font-weight: 400;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8em;
    width: 64px;
    height: 64px;
    border: 2px solid white;
    margin-right: 16px;
}


/*
*
* TESTIMONIALS
*
*/

.testimonials {
    background-color: white;
}

.quote-legend {
    font-size: 0.9em;
    font-weight: bold;
}


/*
*
* CONTACT
*
*/

.contact {
    position: relative;
}

.contact-background {
    background-image: url("../img/coffee-background.png");
    z-index: -1;
    height: calc(100% + 75px);
    width: 100%;
    filter: grayscale(1);
    position: absolute;
    top: 0;
}

.border-2-white {
    border: 2px solid white;
}

.form-control {
    padding: 30px 5px;
}

.contact-btn {
    padding: 15px 150px;
    font-weight: bold;
    font-size: 0.9em;
}

.contact-text {
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 30px;
}


/*
*
* FOOTER
*
*/

.footer {
    background-color: #353f46;
}

.footer-nav-link {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0px 15px;
}

.xd-border {
    border-left: 1px solid #515f67;
}

.footer-text {
    font-size: 0.8em;
}