body {
    margin: 0;
    padding: 0;
}

.header {
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-align: center;
}

.header img {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
}

.navbar {
    position: relative;
    height: 8vh;
    width: 100%;
    background-color: #223d50f6;
}

.navbar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    list-style: none;
}

.navbar ul li {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.navbar ul li img {
    height: 100%;
    width: auto;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar ul li.inactive {
    overflow: hidden;
    flex: 0 0 0%;
}