.tong-bg-lightgray {
    background-color: #ede7e7;
}

.tong-text-yellow {
    color: #fda500;
}


/*
*
* NAVBAR
*
*/

.position-relative {
    position: relative;
}

#border-gradient {
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, transparent 20%, #fda500 100%);
}

#logo-title {
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
}

.info-pannel {
    border: 1px solid black;
    border-radius: 2px;
    background-color: #d2c9ca;
}

.info-account {
    display: flex;
    align-items: center;
    padding: 10px;
}

.info-account h3 {
    font-size: 1em;
}

.hello {
    font-weight: bold;
}

#navbar-menu {
    display: flex;
    /* flex-direction: row; */
}

#navbar-menu p {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: -1px;
    padding: 5px 15px;
    font-weight: 600;
}


/*
*
* BODY
*
*/

.bg-black {
    background-color: black;
}

.body-header {
    height: 350px;
    background-size: cover;
    background-image: url("../img/tong-header.png");
}

.items-container {
    background-color: white;
    padding-bottom: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.item-image {
    height: 300px;
    width: 300px;
    border: 2px solid gray;
    box-shadow: 0 0 3px 1px lightgray;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-sticker {
    position: absolute;
    top: 5%;
    right: -5%;
    background-color: #363231;
    border-radius: 10px;
    font-weight: 700;
    width: fit-content;
    padding: 12px 8px;
}

.item-name {
    position: absolute;
    top: 90%;
}

.item-desc {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.item-show {
    background-color: black;
    color: white;
    padding: 0px 12px;
    line-height: 0.8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-pricetag {
    position: relative;
}

.original {
    text-decoration: line-through;
    font-size: 1em;
    font-weight: 700;
}

.actual {
    font-size: 1.6em;
    font-weight: 700;
}

.pricetag-gradient {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, transparent 20%, black 100%);
}

#item-1 {
    background: url("../img/tong1.png") no-repeat center / contain;
}

#item-2 {
    background: url("../img/tong2.png") no-repeat center / contain;
}

#item-3 {
    background: url("../img/tong3.png") no-repeat center / contain;
}

#item-4 {
    background: url("../img/tong4.png") no-repeat center / contain;
}


/*
*
* FOOTER
*
*/

.footer-section {
    padding-top: 20px;
    position: relative;
}

.stripe {
    background-color: black;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
}

.bg-white {
    height: 20px;
    background-color: white;
}

.bg-dark-gray {
    z-index: -50;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #343434;
}

.footer-menu {
    margin: auto;
    width: calc(100% - 100px) !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border: 2px solid #7f7f7f;
    border-radius: 5px;
    padding: 5px;
    color: #5e5e5e;
}

.footer-menu i {
    font-size: 0.7em;
    color: #7f7f7f;
}

.about {
    margin-top: 20px;
    justify-content: center;
}

.about-icon {
    height: 60px;
    width: 60px;
}

.about-text {
    color: white;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0px 7px;
}

#icon1 {
    background: url("../img/icon-livre.png") no-repeat center / cover;
}

#icon2 {
    background: url("../img/icon-camion.png") no-repeat center / cover;
}

#icon3 {
    background: url("../img/icon-cadenat.png") no-repeat center / cover;
}

#icon4 {
    background: url("../img/icon-pouce.png") no-repeat center / cover;
}

.socials {
    margin-top: 20px;
    justify-content: center;
}

.social-icon {
    height: 36px;
    width: 36px;
    margin: 0 20px;
}

#facebook {
    background: url("../img/icon-facebook.png") no-repeat center / contain;
}

#twitter {
    background: url("../img/icon-twitter.png") no-repeat center / contain;
}

#linkedin {
    background: url("../img/icon-linkedin.png") no-repeat center / contain;
}

.copyright {
    margin-top: 20px;
    justify-content: center;
    color: white;
}