body {
    padding: 0;
    margin: 0;
}

.header {
    margin: auto;
    width: 640px;
    height: 360px;
    background-image: url("../img/beast_magic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sliderFrame {
    margin: auto;
    height: 360px;
    width: 640px;
    position: relative;
    overflow: hidden;
}

.sliderArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    top: calc(50% - 30px);
}

.sliderArrowLeft {
    left: 5%;
}

.sliderArrowRight {
    right: 5%;
}

.sliderImagesContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: flex;
    height: 100%;
    width: auto;
    transition: 0.5s;
}

.sliderImagesContainer img {
    height: 100%;
    width: auto;
}

.slider {
    position: relative;
    width: 640px;
    margin: auto;
}

.monImage {
    width: 640px;
    height: 360px;
}

.monImage img {
    display: none;
    width: 640px;
    height: 360px;
}

img.visible {
    display: block;
}

.gauche {
    position: absolute;
    top: 5%;
    left: -1.5%;
}

.droite {
    position: absolute;
    top: 5%;
    right: -1.5%;
}