body {
    margin: 0;
    padding: 0;
}

.accueil {
    height: 100vh;
    background-image: url("../img/paysage.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #555555;
    font-size: 2em;
    color: #ffffff;
    height: 15%;
    opacity: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 3em;
    margin: 0 0 0 5%;
}

.liens {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    margin: 0 2%;
    text-decoration: none;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
    color: #ffffff;
}

.conteneur {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    background: #555555;
}

@media screen and (max-width: 750px) {
    .conteneur {
        display: none;
    }
    .navbar {
        height: 100%;
        flex-direction: column;
        font-size: 3em;
    }
    .liens {
        height: 75%;
        flex-direction: column;
    }
    .logo {
        margin: auto;
    }
}