.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 0;
    height: 10vh;
    background: transparent;
}

.navbar-gradient {
    background: linear-gradient(180deg, #181a1b, transparent);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo-img {
    background: url("../../../../images/FeelsOkayMan.png");
    height: 50px;
    width: 50px;
    background-size: cover;
}

.navbar-title {
    padding-left: 10px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
}

.navbar-collapse {
    justify-content: flex-end;
    align-items: center;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-search {
    font-size: 14px;
    max-width: 300px;
}

@media (min-width: 992px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0px 20px;
    }
    .nav-item {
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0px 20px;
    }
    .nav-item {
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
    }
}