.customNav {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    width: 100%;
}

.addArticle {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    width: 100%;
}

.customForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customForm>* {
    margin: 5px;
}

form {
    margin-block-end: 0;
}

th {
    text-transform: capitalize;
}

label {
    text-transform: capitalize;
}

.table {
    margin: 0;
}

.bought {
    background-color: lightgreen;
}

.btn {
    width: 120px;
}

.champ-ajout {
    padding: 25px;
    width: 300px;
    height: auto;
}

.bouton-ajout {
    padding: 25px;
    width: auto;
}

.table td {
    vertical-align: middle;
    padding: 20px;
}

.innerTD {
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.w20 {
    width: 20%;
}