.quantite {
    display: flex;
}

.quantite>.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.champQuantite {
    width: 50px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}