body {
    font-family: sans-serif;
}
#hExplika {
    background-color: pink;
    padding: 6px;
    margin: 6px;
}
#hFormu {
    width: 75%;
    margin: 20px auto;
}
#hTicket {
    background-color: #996600;
    color: yellow;
    padding: 6px;
}
